* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
  }
  a {
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 89); 
    text-decoration-thickness: 3px; 
}
  
a:active{
    text-decoration-color: rgb(153, 0, 255); 
}
  
  .sidebar {
      height: 100vh;
      width: 7%;
      background-color: #333;
      transition: width 0.5s ease, background-color 0.3s ease;
  }

  
  .sidebar1 {
      height: 100vh;
      width: 22%; 
      background-color: #333;
      transition: width 0.5s ease, background-color 0.3s ease;
  }
  
  .sidebar-items {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      padding-top: 40px; 
      padding-left: 15px;
  }
  
  .sidebar-menu {
      font-size: 42px; 
      color: aliceblue;
      margin-bottom: 80px;
      margin-left: 15px;
      margin-right: 10px;
  }
  .sidebar-menu:hover{
    border: 1px solid white;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-icons {
      font-size: 35px;
      color: aliceblue;
      margin-top: 30px;
      margin-right: 10px;
      padding: 12px;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: background-color 0.3s ease;
  }
  
  .sidebar-icons:hover {
      border: 1px solid white;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.1);
  }
  
  .sidebar-icon-text {
      color: aliceblue;
      font-size: 22px; 
      padding-left: 25px;
      text-decoration: none;
      
  }
  
  
  .logout-btn {
      font-size: 35px;
      color: aliceblue;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px;
      margin-top: auto; 
      margin-right: 10px;
      margin-bottom: 10px;
  }
  
  .logout-btn:hover {
      border: 1px solid white;
      border-radius: 6px;
      background-color: rgba(255, 255, 255, 0.1);
  }
  